#netice{
	width: auto;
	height: auto;
	font-weight: bold;
	border: 1px solid black;
	position: absolute;
	top: 100%;
	font-size: 30px;
}

#netice2{
	width: auto;
	height: auto;
	border: 1px solid transparent;
	position: absolute;
	top: 165%;
	font-size: 30px;
	background-color: red;
	color: white;
	text-decoration: underline;
	text-align: center;
	font-weight: bold;

}